@CHARSET "UTF-8";


.login_header{
	margin-top:50px;
	padding: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
	width: 800px;
	clear: both;
	background-color: #007cb3;
	-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px;
	height: 380px;
	text-alignment:center;
}

.login_area
{
	margin: 20px 20px 20px 20px;
	padding: 20px 30px 15px 20px;
	-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;
	width: 300px;
	background: #fff;
	height:auto;
	float:left;
}

.new_account
{
	margin: 20px 20px 20px 20px;
	padding: 20px 30px 15px 20px;
	-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;
	width: 300px;
	background: #fff;
	height:auto;
	float:right;
}
	
