/*******************************************
link color: #007cb3
text color: #393939
unimportant text: #c8c8c8
blue background: #d9ebf5
yellow: #feff84
*******************************************/

html{
	background-color:#c8c8c8;

	margin:0 0 0 0;
	padding:0 0 0 0;
	border:0 0 0 0;
}


/*******************************************/
/************Container Features*************/
/*******************************************/
.container {
	margin-top:0;
	padding-top:0;
    margin-left: auto;
    margin-right: auto;
	width: 1000px;
	clear: both;
}

.content-container{
	float: left;
	width: 1000px;
	clear: both;
}


.header{
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	margin-top: 0;
	margin-bottom:0;
	position: center;
	background-color: #007cb3;
	height: 47px;
	
}
.header h1,h2,h3,h4,h5,h6,body{
	color:#fff;
}


.footer{
	margin-top:5px;
	float:top;
	clear:both;
	text-align: left;
	padding: 30px 30px;
	font-family: "Courier New", Arial;
	font:white;
	height: 1%;
}

.feed_block{
	width:100%;
	padding:5px;
	clear:both;
	float:left;
	display:block;
}

.feed_container{
	float:left;
	width:85%;
	height:40;
	margin:2px;
	padding:0;
	border-bottom:1px solid #E3EEF8;
}

/*article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object,output{display:block}*/
/*******************************************/
/**************Text Features****************/
/*******************************************/
h1,h2,h3,h4,h5,h6,body{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	margin-top:5px;
	margin-left:0;
	margin-right:0;
	margin-bottom: 5px;
	color: #393939;
}

body{
	font-size:14px;
}


p{
	margin-left:10px;
	margin-bottom:1px;
	margin-top:1px;
}

a{
	color: #393939;
	text-decoration: none;
	font-weight:bold;
	font-size:105%;
}

a:hover {
	color: #007cb3;
	CURSOR: pointer; cursor: hand;
	text-decoration:underline;
}

.link-style-dominant{
	color: #007cb3;
}

.link-style-dominant:hover{
	CURSOR: pointer; cursor: hand;
	text-decoration: underline;
}

.title_style_minor {
	color: #c8c8c8;
}

.dominant_text{
	font-size: 20px;
	color: #007cb3;
	font-family: "Arial Black", Arial;
}

.blue{
	color:#007cb3;
}

.name{
	color:#007cb3;
	font-weight:bold;
}

.stress{
	font-weight:bold;
	font-size:105%;
}

.desc{
	color:#c8c8c8;	
	font-size:90%;
}



ol, ul{
	margin-top:0;
	margin-bottom:10px;
	padding: 0;
}

ul{
	list-style-type:none;
}


li{
	margin-top:0;
	margin-left: 10px;
	margin-bottom:0;
	padding: 0;
	padding:0 0 0 0;
	clear:both;
	background-color:transparent;
	position:relative;
	-webkit-transition:background-color 350ms ease-out;
	-moz-transition:background-color 350ms ease-out;
	-o-transition:background-color 350ms ease-out;
	transition:background-color 350ms ease-out
}


/*******************************************/
/**************Line Features****************/
/*******************************************/
hr {
	color:#c8c8c8;
	margin-top:10px;
	margin-bottom:10px;
	border-width:1px;
	border-style:dashed;
}

hr.solid{
	border-style:solid;
}


/*******************************************/
/*************Frame Features****************/
/*******************************************/
iframe.dynamicFrame {
	width: 100%;
	height:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background-color:#fff;
}


/*******************************************/
/**************Image Features***************/
/*******************************************/
img.small{
	width:16px;
	height:16px;
	float:left;
}


img.medium{
	width:40;
	height:40;
	float:left;
	margin-right:5px;
}


img.large{
	width:150px;
	height:150px;
	float:left;
}


/*******************************************/
/*************Button Features***************/
/*******************************************/

submit, button {
	border-top: 1px solid #96d1f8;
   	background: #65a9d7;
   	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   	background: -o-linear-gradient(top, #3e779d, #65a9d7);
   	-webkit-border-radius: 9px;
   	-moz-border-radius: 9px;
   	border-radius: 9px;
   	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   	box-shadow: rgba(0,0,0,1) 0 1px 0;
   	text-shadow: rgba(0,0,0,.4) 0 1px 0;
   	color: white;
   	text-decoration: none;
   	horizontal-align: middle;
   	margin:2px 2px 2px 2px;
}


button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   CURSOR: pointer; cursor: hand;
 }
 
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

button.button_grey{
   background: -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#d6d6d6));
   background: -webkit-linear-gradient(top, #a6a6a6, #d6d6d6);
   background: -moz-linear-gradient(top, #a6a6a6, #d6d6d6);
   background: -ms-linear-gradient(top, #a6a6a6, #d6d6d6);
   background: -o-linear-gradient(top, #a6a6a6, #d6d6d6);
   width: 200px;
   padding: 12px 24px;
   font-size: 20px;
}
botton.button_grey:hover {
   border-top-color: #808080;
   background: #808080;
   color: #ccc;
   }
botton.button_grey:active {
   border-top-color: #5a5b5c;
   background: #5a5b5c;
}


button.button_large {
	width: 200px;
   	padding: 12px 24px;
   	font-size: 20px;
}




